@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes fall-in {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.App-video {
  animation: fall-in 0.5s;
}
